[Unit]
Description=Pgadmin4 Service
After=network.target

[Service]
User=vagrant
Group=vagrant
WorkingDirectory=/home/vagrant/pgAdmin4/
ExecStart=/home/vagrant/pgAdmin4/bin/python /home/vagrant/pgAdmin4/lib/python3.4/site-packages/pgadmin4/pgAdmin4.py
PrivateTmp=true

[Install]
WantedBy=multi-user.target